<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 id="title"> Music Reviews </h1>
    <span class="menu-spacer"></span>
    <div id='toolbar'>
      <a mat-button routerLink="/Home"> Home </a>
      <a mat-button routerLink="/About"> About </a>
      <a mat-button routerLink="/Song"> Songs </a>
      <a id="signup" mat-button *ngIf="!authService.loggedIn()" routerLink="/Signup"> Signup </a>
      <a mat-button *ngIf="!authService.loggedIn()" id="login" routerLink="/Login"> Login </a>
      <a mat-button id='logout' (click)="logout()" *ngIf="authService.loggedIn()"> Logout </a>
      <a mat-button id="users"
        *ngIf="authService.loggedIn() && authService.getLoginRole() == 'admin' && authService.getLoginStatus() == 'A'"
        routerLink="/user"> Users
      </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;"> View and create reviews of songs using Music Reviews!</span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>