<header>
  <div class="container">
    <a href="#" class="logo">Application</a>
    <nav>
      <ul>
        <li><a href="$" routerLink="/">Home</a></li>
        <li><a href="$" routerLink="/About">About</a></li>
        <li><a href="$" routerLink="/Login">Login</a></li>
        <li><a href="$" routerLink="/Members">Members</a></li>
        <li><a href="$" routerLink="/Signup">Signup</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
