h1 {align-content: center;}
div[mat-dialog-actions] {float: right;}
button {
	cursor: pointer !important;
	border-radius: 10%;
	color: #fff;
	background-color:#007bff;
	border-color:#007bff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }